# Virtual Environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Uploaded and processed files
uploads/
*.json
processed_files/

# System files
.DS_Store

# Environment files
.env
.env.template
*.env
!.env.template

# Cache files
cache/
*.joblib
